---
layout: default
title: Home
notitle: true
---

<div class="jumbotron">
    <p>
       我们是中国科学院计算机网络信息中心大数据应用发展部的科研团队。
        我们以社会大数据为研究对象，依托大数据处理分析技术及知识工程方法展开研究。在大数据、数据挖掘、
        领域洞察方面展开研究，实现“分布式数据采集融合”、”领域知识图谱构建“及“领域应用”。<a href="about.html">更多</a>

    </p>
</div>

<section>
    <h2>新闻</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<section>
    <h2>论文分享</h2>
    <ul class="news list-unstyled">
        {% assign papers_by_date = site.papers | sort: 'last-updated', 'first' %}
        {% assign papers_by_date = papers_by_date | reverse %}
        {% for post in papers_by_date limit: site.front_page_pres %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.papers | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/paper.html">Older presentations&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>科研项目</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

