<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.ejournal.org.cn/Jwk_cje/EN/article/downloadArticleFile.do?attachType=PDF&amp;id=10968">A Correlation Visual Analytics System for Air Quality</a>.
			</span><br />
			<span class="authors">
				Yi Du, Malik Abish, Lianke Zhou, and Yuanchun Zhou.
			</span><br />
			<span class="venuetype"></span><span class="venue">Chinese Journal of Electronics 27(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://dl.acm.org/citation.cfm?id=3234123">Banded choropleth map</a>.
			</span><br />
			<span class="authors">
				Yi Du, Lei Ren, Yuanchun Zhou, Jianhui Li, Feng Tian, and Guozhong Dai.
			</span><br />
			<span class="venuetype"></span><span class="venue">Personal and Ubiquitous Computing 22(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
