<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Vulnerability Assessment of Metro Systems Based on Dynamic Network Structure.
			</span><br />
			<span class="authors">
				Jun Pu, Chuanren Liu, Jianghua Zhao, Ke Han, and Yuanchun Zhou.
			</span><br />
			<span class="venuetype"></span><span class="venue">The 22nd Pacific-Asia Conference on Knowledge Discovery and Data Mining (PAKDD 2018)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Approximations and Bounds for (n, k) Fork-Join Queues: A Linear Transformation Approach.
			</span><br />
			<span class="authors">
				Huajin Wang, Jianhui Li, Zhihong Shen, and Yuanchun Zhou.
			</span><br />
			<span class="venuetype"></span><span class="venue">2018 18th IEEE/ACM International Symposium on Cluster, Cloud and Grid Computing (CCGRID)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
