<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="www.dviz.cn">国家自然科学基金大数据知识管理服务平台总体方案及关键技术研究</a>.
			</span><br />
			<span class="authors">
				姚畅, 王晓帆, 杜一, 张兆田, 李建军, and 郝艳妮.
			</span><br />
			<span class="venuetype"></span><span class="venue">中国科学基金</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
